<footer>
    <div class="bg-$red-400">
        <strong>
        &nbsp;
        &copy; 
        Todos los derechos reservados - 
    </strong>
        <a href="http://www.moron.gob.ar/" target="_blank">Municipio de Moròn</a>
    </div>
</footer>
</body>
</html>